/* eslint-disable-next-line */
@import './Mixins.scss';

@keyframes pulseBlue {
  0%{color: cyan};
  50%{color: black};
  100%{color: cyan};
}

@keyframes pulseYellow {
  0%{color: yellow};
  50%{color: black};
  100%{color: yellow};
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  .insideContainer{
    background-color: white;
    max-height: 95vh;
    width: 90vw;
    overflow: auto;
    padding: 10px;
    z-index: 1;
    button{
      cursor: pointer;
    }
    @include mQ(775px){
      max-height: 80vh;
      margin-top: -10vh;
    }
  }
  button{
    margin: 0;
    padding: 0;
    border: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    width: 100px;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
    &:hover{
      border: 1px solid teal;
      text-decoration: underline;
      background-color: teal;
      color: white;
      transition: .3s linear;
    }
  }
  .cancel{
    &:hover{
      border: 1px solid red;
      background-color: red;
    }
  }
}
.loader{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employeeList{
  display: flex;
  justify-content: space-between;
  width: 88vw;
  align-items: center;
  margin: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid black;
  h1{
    margin: 0;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  a{
    color: black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  @include mQ(775px){
    display: block;
  }
}

.employeeList:nth-child(even){
  background-color: white;
}
.employeeList:nth-child(odd){
  background-color: lightgrey;
}
.emContainer{
  .findEmployee{
    margin-bottom: 20px;
  }
  select{
    height: 20px;
  }
}

.Active{
  color: lime;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Progress{
  animation: pulseYellow 1.5s linear infinite;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Shop{
  animation: pulseBlue 2s linear infinite;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Change{
  animation: pulseYellow 1.5s linear infinite;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Training{
  animation: pulseBlue 2s linear infinite;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.employeeInfoTop{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  align-items: center;
}

.socialCheck{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  &:hover{
    transition: .3s linear;
    color: teal;
  }
}

.title{
  text-decoration: underline;
}

.nameAndImg{
  width: 100%;
  margin: auto;
  .profileImg{
    width: 175px;
    border-radius: 175px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &:hover{
      .update{
        opacity: 0.4;
        cursor: pointer;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    img{
      width: 160px;
      height: 160px;
      border-radius: 160px;
      padding: 4px;
      border: 2px solid teal;
    }
    .update{
      transition: .4s linear;
      position: absolute;
      width: 160px;
      background-color: black;
      height: 80px;
      top: 50%;
      border-bottom-left-radius: 160px;
      border-bottom-right-radius: 160px;
      border-top: 2px solid white;
      opacity: 0;
      p{
        color: white;
        font-size: 20px;
        border-bottom-left-radius: 160px;
        border-bottom-right-radius: 160px;
      }
    }
  }
}

.addEmployeeContainer{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  .addEmployeeInsideContainer{
    max-width: 90vw;
    max-height: 90vh;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    border: 2px solid teal;
    overflow: auto;
  }
}